* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary Colors */
    --color-light-cyan: hsl(193, 38%, 86%);
    --color-neon-green: hsl(150, 100%, 66%);
  
    /* Neutral Colors */
    --color-grayish-blue: hsl(217, 19%, 38%);
    --color-dark-grayish-blue: hsl(217, 19%, 24%);
    --color-dark-blue: hsl(218, 23%, 16%);
  }

body {
    background-color: var(--color-dark-blue);

    min-height: 100vh;

    display: grid;
    place-content: center;
}
  

.advice-card {
    background-color: var(--color-dark-grayish-blue);

    border-radius: 15px;

    width: 540px;
    min-height: 332px;

    font-family: 'Manrope', sans-serif;
    font-size: 28px;

    display: grid;
    place-items: center;
    
}

.advice-card-content {
    position: relative;

    display: grid;
    place-items: center;
    text-align: center;

    

    gap: 1em;

    
    padding: 0 1.5em;

    padding-bottom: .5em;

}

h1 {
    font-size: .5em;

    text-transform: uppercase;
    letter-spacing: .25em;

    color: var(--color-neon-green);
}

p {
    color: var(--color-light-cyan);
}

.divider-mobile {
    display: none;
}

.advice-button {
    background-image: url(images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--color-neon-green);



    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;

    position: absolute;
    top: 105%;
}







